<!doctype html>
<html>
   <head>
       <meta charset="UTF-8">
       <title>组件化思想练习</title>
       <script src="./vue.js"></script>
   </head>
   <body>
       <div id="root">
           <div>
              <input type="text" v-model="inputValue" />
              <button v-on:click="handleClick" >提交</button>
           </div>
           <ul>
              <todo-list v-bind:content="item"
                         v-bind:index="index" 
                         v-for="(item, index) in list"
                         @delete="handleItemDelete">
              </todo-list>
           </ul>
       </div>
       <script>
          //Vue.component('TodoList', {
                        //props: ['content'],  
          	            //template:"<li @click='handleItemClick'>{{content}}</li>",
          	            //methods:{
          	        	    //handleItemClick:function(){
          	        		  //  this.$emit("delete",this.index);
          	        	  //}
          	        //}

 //         })
          var TodoList={
          	       props: ['content', 'index'],  
          	        template:"<li @click='handleItemClick'>{{content}}</li>",
          	        methods:{
          	        	handleItemClick:function(){
          	        		this.$emit("delete",this.index);
          	        	}
          	        }
          }
          var rm=new Vue({
                   el: "#root",
                   components:{
                   	TodoList:TodoList
                   },
                   data: {
                   	   list: [],
                   	   inputValue:''
                   },
                   methods:{
                   	      handleClick: function(){
                             this.list.push(this.inputValue);
                             this.inputValue=''                      
                   	     },
                   	     handleItemDelete:function(index){
                                      this.list.splice(index,1)
                   	     }
                   }
          

          })

       </script>
   </body>
</html>