@charset "utf-8";
/* CSS Document */
* { margin:0px; padding:0px; font-family:"宋体"; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, form, fieldset, input, textarea, p { padding:0; margin:0; }
body { background:#fff; overflow-x: hidden;}
fieldset, img { border:0px; }
h1, h2, h3, h4 { font-weight:bold; font-size:100%; }

li { list-style:none; }
ul, ol, p { line-height:20px; }

.clear:after { content:''; display:block; clear:both; }

/* 字体样式 */
body,td, input, select { font:12px Arial,"宋体"; line-height:24px; }
a:link { color:#666; text-decoration:none; }
a:visited { color:#333; text-decoration:none; }
a:hover { color:#666; text-decoration:none; }

h1 { font:18px "微软雅黑"; }
h2 { font:16px "微软雅黑"; }
h3 { font:14px "宋体"; }
h4 { font:12px "宋体"; }

/*------------------------------公共框架布局begin-------------------------------*/

/*头部*/
#header { width: 100%; height:143px; position: relative;background-color:#F7F7F7;}








.corpTitle{
  color: #017f39;
  font-family: "Microsoft YaHei";
  font-size: 32px;
  position: relative;
  top:40px;
  left:240px;
 }
.headnav{
	background:url(image/navbg.jpg) repeat-x scroll center;
	height: 38px;
	width: 100%;
    top: auto;
    bottom: 0px;
	position: absolute;
}
.nav{
	position: relative;
	left:240px;
	font-size:14px;
	color: #333;
    font-weight: bold;
	text-align: center;
	font-family: "微软雅黑",Arial,Helvetica,sans-serif;
	line-height: 38px;
	
}
li{
    float:left;
	line-height: 38px;
	width:120px;
}
li a:hover{
	color: green;
}
/*banner图*/
#main{ background:url(image/banner.png) no-repeat center top; height:377px;margin:0 auto; }

.center1{
	
	height:100px;
	width:960px;
	margin:15px auto 0 auto;
	padding:0;
}

.center1 p{
	float:left;
	padding:4px;
	margin-right:25px ;
	border:2px solid #D7D1D3;
}
.center2{
	margin:0 auto;
	width:960px;
	height:300px;
	
}
#center_left{
	width:308px;
	height:260px;
	float:left;
	margin-right:12px;
	border:2px solid #D7D1D3;
	background:#F7F7F7; 
}
#center_mid{
	width:308px;
	height:260px;
	float:left;
    margin-right:12px;
	border:2px solid #D7D1D3;
	background:#F7F7F7;
}
#center_right{
	width:308px;
	height:260px;
	float:right;
	background:#F7F7F7;
	border:2px solid #D7D1D3;
}
.center2 p{
	background:url(image/main2.jpg) repeat-x;
	height:40px;
	width:292px;
	margin:0 auto;
	font-size:14px;
	line-height:40px;
}
.center2 img{
	display:block;
	margin:0 auto;
	height:88px;
	width:283px;
}
.center2 span{
	text-indent:2em;
	text-align:left;
	font-size:12px;
	line-height:26px;
	padding:5px;
	display:block;
}
.line a{
	display:block;
	line-height:25px;
	padding:0 6px 0 6px;
	word-wrap:break-word;
	
}
.separline{
	border-color:#cecece;
	border-width:2px;
	border-style:none none dotted none;
	width:292px;
	margin:0 auto;
}
.center3{
	width:960px;
	margin:0 auto;
	background-color:#F7F7F7;
	height:200px;
	border:1px solid #D7D1D3;
}
.center3 p{
	height:40px;
	line-height:40px;
	background:url(image/main2.jpg) repeat-x;
	width:948px;
	margin:0 auto;
	font-size:14px;
	font-weight:bold;
    color:#666;
}
.formMiddle{
	width:948px;
	height:160px;
	margin:0 auto;
}
.Middle {			
	width:180px;
	float:left;
	padding:10px 0 0 8px;
}
.wenzi{
	width:160px;
	height:40px;
	text-align:center;
}
.tupian  img{
	width:160px;
	height:118px;
}
.bottom{
	width:100%;
	height:87px;
	background-color:#3E3E3E;
	position: relative;
}
.footer{
	font-size:12px;
	color:#666;
	text-align:center;
	width:960px;
	margin:0 auto;
	height:87px;
}
.footer1 {
	height:32px;
	line-height:32px;
	text-align:center;
	padding:10px 0;
	color:#FFECC4;
}
.footer1 a{
	color:#FFFFFF;
}
.footer2 span{
	color:#FFFFFF;
}
.footer2{
	height:32px;
	line-height:32px;
	text-align:center;
}