#links div {
padding-left: 20px;
}
#links ul {
padding-left: 3px;
margin-top: 5px;
clear: left;
list-style-type: none;
}
#links li {
background: url(../img/b_lists.gif) no-repeat left center;
padding: 3px 0 3px 17px;
}
div#placard {
line-height: 22px;
background: url(../img/placard_bg.gif) no-repeat;
padding: 15px 0 0 40px;
height: 110px !important;
height /**/:125px;
}
#list_placard {
width: 260px;
}
#list_placard caption {
font-weight: bold;
text-align: left;
}
#list_placard td {
height:22px;
}
#confide {
background: #CFF url(../img/confide_bg.gif) no-repeat left bottom;
padding-bottom: 12px;
}
#confide h1 {
background: url(../img/b_02.gif) no-repeat left center;
}
#list_confide {
width: 277px;
}
#list_confide th,
#list_confide td {
padding: 5px 0 0 7px;
}
#list_confide th {
text-align:left;
border-bottom:1px solid #099;
}
#bbs_info {
background: #FFC;
background: url(../img/bbs_info_bg.gif) no-repeat left bottom;
padding-bottom: 12px;
}
#bbs_info h1 {
background: url(../img/b_03.gif) no-repeat left center;
}
#bbs_info li {
float: left;
width: 128px !important;
width /**/:145px;
}
#rank {
float: left;
width: 145px !important;
width /**/:165px;
}
#software {
float: right;
width: 128px !important;
width /**/:148px;
}
#rank h1,
#software h1 {
background: url(../img/b_01.gif) no-repeat left center;
}
#list_lough th {
	background-color: #FFFFFF;
	text-align: left;
}